<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=name%></title>
    <style>

        * {
          box-sizing: border-box;
        }

        html {
            scroll-behavior: smooth;
        }

        body {
                  color: #555;
             background: #fff;
            font-family: sans-serif;
              font-size: 16px;
                 margin: 0;
        }

        h1 {
                    color: #f6f6f6;
               background: #313131;
              font-weight: 500;
                font-size: 16px;
                  padding: 12px;
                   margin: 0;
        }

        .icons, .defs {
               margin: 0 auto;
            max-width: 960px;
              padding: 1em;
        }
        
        .icons {
            background: #fcfcfc;
        }

        .icons-container {
            background: #f6f6f6;
        }

        .preview {
              border-radius: 16384px;
                      color: #555;
                    display: inline-flex;
                align-items: center;
                  font-size: 24px;
                     border: 1px solid #f6f6f6;
                    padding: .5em;
            text-decoration: none;
                line-height: 1;
                 transition: color .5s ease,
                  background-color .5s ease;
        }

        .preview > * {
            display: flex;
        }

        .preview:hover {
                   color: #000;                 
            border-color: #ffffff;
              background: #ffffff;
        }

        .preview:active {
                border: 1px solid #000;
            background: #333;
                 color: #fff;
        }

        .defs {
            margin-top: 1em;
        }

        .def {
                  display: flex;
              align-items: center;
                  padding: .5em 0;
            border-bottom: 1px solid #e6e6e6;
        }

        .def:hover {
            background: #313131;
                 color: white;
        }

        .def:hover > .def-icon {            
                 color: white;
        }

        .def > * {
            font-size: 10px;
        }

        .def > .def-icon {
                      color: #313131;
                  font-size: 24px;
                  min-width: 3em;
            text-decoration: none;
               padding-left: 1em;
        }

        .def > .def-name {
            font-weight: normal;
              min-width: 20em;
        }

        .def > .def-unicode {
            padding: 0 1em;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="<%=name%>.css<%=hash%>" />
</head>
<body>
    <h1><%=name%></h1>
    <div class="icons-container">
        <div class="icons">
        <% icons.forEach((icon) => {%>
            <a id="icon-<%=icon.name%>" href="#<%=icon.name%>" class="preview">
                <<%=tag%> class="<%=prefix%> <%=prefix%>-<%=icon.name%>"></<%=tag%>>
            </a>
        <%});%>
        </div>
    </div>
    <div class="defs">
    <% icons.forEach((icon) => {%>
        <div id="<%=icon.name%>" class="def">
            <a href="#icon-<%=icon.name%>" class="def-icon">
                <<%=tag%> class="<%=prefix%> <%=prefix%>-<%=icon.name%>"></<%=tag%>>
            </a>
            <div class="def-name"><%=icon.name%></div>
            <div class="def-unicode"><%=icon.unicode%></div>
            <div class="def-unicode"><%=icon.unicode[0].codePointAt(0).toString(16)%></div>
        </div>
    <%});%>
    </div>
</body>
</html>